@use "../../scss/" as *;

.comments-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid rgb(12, 255, 52);
  border-radius: 5px;
  margin: 2rem 10rem;
}

.content-wrapper {
  border: 1px solid orange;
  display: flex;
  justify-content: center;
}

.comments {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid yellow;
  padding: 3rem;

  
  
  &__header {
    display:  flex;
    justify-content: center;
    font-size: 1rem;
    margin-right: 1rem;
  }

  @include tablet {
    width: 80%;
}

  @include mobile {
    width: 90%;
}

  
}

.comments-post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  border: 1px solid rgb(110, 0, 254);
  margin-top: 1rem;

  &__title {
    font-size: large;
    font-weight: 500;
  }

}

.comment-form-button{
  padding: .8rem 3rem;
  border: 1px solid $white;
  background-color: transparent;
  color: $white;


  &:hover {
    background-color: $white;
    color: $black;
    transition: ease-in-out 0.5s;
  }
}

.comment-form-textarea {
  width: 100%;
  height: 10rem;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 1rem;
}

.comments-form {
  display: flex;
  flex-direction: column;
}


.comment-author{
  font-size: 1.5rem;
}

.comment-posts {
  padding: 3rem;
  margin-top: 2.5rem;
  border-radius: 5px;
  border: 1px solid white;

  &:hover{
    background-color: #1B1A17;
    transition: ease-in-out 0.1s;
    cursor: pointer;
  }

}

.comment-image-container{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid white;
  margin-left: .5rem;
}

.replies{
  background-color: #070504;
}

.comment-action{
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 100px;
  margin-top:1rem;

  &:hover{
    background-color: white;
    color: black;
    transition: ease-in-out 0.1s;
    cursor: pointer;
  }
}