@use "../../scss/" as *;

.forums-container{
  padding: 3rem 10rem 3rem 10rem;
}

.forums {
  padding: 3rem 5rem 0 5rem;
  // border: 1px solid #e5e5e5;
  border-radius: 5px;
  font-size: 16px;

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.page-link{
 padding: 1rem;
}

.pagination{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.pl-3{
  padding:1rem 3rem;
  border: 1px solid #ff0000;
}

.sb-avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
      &__image{
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }


}

.panel{
  display: flex;
}

.panel-body{
  border: #ffffff solid 1px;
  border-radius: 5px;
  width: 100%;
  padding: 2rem;
  margin: 1rem;
}

// .row{
  
// }

.col-7{
  flex: 0 0 70%;
}

.mt-0 {
  display: none;
}

.ql-toolbar{
  border-top-left-radius: 10px ;
  border-top-right-radius: 10px ;
}

.ql-container{
  border-bottom-left-radius: 10px ;
  border-bottom-right-radius: 10px ;
}

.ql-container{
  font-size: 16px !important;
}

._1FtUZ{
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 2rem;
  line-height: 1.8rem;
  margin: 1rem;
}