@use "../../scss/" as *;

.movie-card {
    position: relative;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150% 0 0 0;
    border-radius: $border-radius;
    margin-bottom: 1rem;

    transition: ease-out 0.9s;
    transform: scale(1);
    


    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);

    }

}
