@use "../../scss/" as *;

.footer {
    position: relative;
    bottom: 0;
    padding: 6rem 2rem;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

    &__content {
        

        

        &__logo {
            @include flex(center, center);
            margin-bottom: 3rem;
        }

        &__menus {
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(3, 1fr);

            @include mobile {
                grid-template-columns: repeat(2, 1fr);
            }

            @include mobile {
                display: flex;
                flex-direction: row;
                
            }
        }

        &__menu {
            @include flex(center, center);
            flex-direction: column;
            margin-top: 1rem;

            font-size: 1.5rem;
            font-weight: 600;

            & > * ~ * {
                margin-top: 1rem;
            }
        }
    }
}
