@use "../../scss/breakpoint" as *;

.movie-list {
    .swiper-slide {
        width: 12%;
        margin: 0 1%;
        padding: 0;
        background-color: #e6e6e6;
        transition: all 0.2s;
        transform: scale(1);
        &:hover {
            background-color: #e6e6e6;
            color: black;
            transition: all 0.2s;
            transform: scale(1.1);
        }
    

        @include tablet {
            width: 30%;
        }

        @include mobile {
            width: 40%;
        }
    }
}
